*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html{
  background-color: #FFF;
  color: #555;
  font-family: "Lato","Verdana";
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.logo{
  float: left;
  height: 70px;
  width: auto;
  margin-top: 50px;
  border-radius: 20px;
}

.row{
    width: 1140px;
    margin: 0 auto;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 70px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
  text-decoration: none;
  color: #1c1c1c;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
}
.main-nav li a:active,
.main-nav li a:hover{
  border-bottom: 2px solid #e67e22;
  transition: 0.5s;
}
.heardermain{
  color: #1c1c1c;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.header-box{
  height: 120vh;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
}

.header-text{
  position: absolute;
  width: 1140px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

 .header-text h3{
 	padding-bottom: 50px;
 }

.btn:link,
.btn:visited{
  border: 1px solid #e67e22;
  border-radius: 30px;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 30px;
  color: #FFF;
  transition: 0.5s;
}

.btn-full:link,
.btn-full:visited{
  background-color: #e67e22;
  transition: 0.5s;
}

.btn-full:hover,
.btn-full:active{
  background-color: #df6900;
  transition: 0.5s;
}




.mainLogin{
	position: absolute;
 	width: 800px;
 	height:800px;
  	top:50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	background-color: #fff;
  	border-radius: 10%;
}

.login{
	text-align: center;
	margin-top: 100px;
}

.header{
	margin-bottom: 50px;
}
.header-box2{
  height:470vh;
  background-image: linear-gradient(rgba(10, 10, 10, 0.7),rgba(10, 10, 10, 0.6));
  background-size: cover;
  background-position: center;
}

input{
	width: 50%;
	padding: 12px 20px;
 	margin: 8px 0;
 	box-sizing: border-box;
}

.loginButton{
	padding: 12px 20px;
 	margin: 8px 0;
 	box-sizing: border-box;
}

.products{
	position: absolute;
	width: 1510px;
	height: 700px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #5898a7;
}
.section1{
  height: 86vh;
  background-size: cover;
  background-position: center;
}

.card{
  width: 27%;
  background-color: #f4c2c2;
  height: 620px;
  padding: 10px;
  -webkit-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  display: inline-block;
  margin: 40px;
  float: left;
}

.card-image{
  width: 100%;
  padding:15px;
}

.gadget{
  width: 385px;
  height: 220px;
  padding:15px;
}

.card h3{
  padding: 20px;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}

.btn-card:link,
.btn-card:visited{
  margin-left: 40%;
  text-decoration: none;
  color: #e67e22;
  padding: 5px;
  border: 1px solid #e67e22;
  border-radius: 30px;
  font-size: 75%;
  transition:0.5s;
}

.btn-card:hover,
.btn-card:active{
  background-color: #e67e22;
  color: #FFF;
  transition: 0.5s;
}

p{
	padding-top: 30px;
	padding-bottom: 25px;
}

.section2{
  height: 125vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  background-color: #1ecbe1;
}
 .section2 .card{
 	height: 430px;
 }

.app{
	text-align: center;
}
p{
	text-align: center;
}

.section3{
  height: 140vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  background-color: #bd425f;
}

 .section3 .card{
 	height: 430px;
 }

.clothes{
	text-align: center;
	color: #f4c2c2;
}
.section4{
  height: 120vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  margin-top: -10%;
  background-color: #27d880;
}

.section4 .card{
 	height: 430px;
 }

.gadgets{
	text-align: center;
}

.section2 img{
	height: 250px;
	margin-left: 70px;
	margin-bottom: 30px;
}

.section3 img{
	height: 250px;
	margin-left: 100px;
	margin-bottom: 30px;
}

.section4 img{
	height: 250px;
	margin-left: 5px;
	margin-bottom: 30px;
}

.section5{
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  background-color: #f4c2c2;
}

.aboutme{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.abt{
	width: 1150px;
	height: 800px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	-moz-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	text-align: center;
  	background-image: url(../images/bg3.jpg);
  	background-position: center;
  	background-size: cover;
}
.about{
	width: 300px;
	height: 300px;
	border-radius: 10px;
  	text-align: center;
  	margin-left: 425px;

}

.me{
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

.info{
	padding-top: 50px;
	list-style-type: none ;
	width: 505px;
	text-align: left;
}

.section6{
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  background-color: #f4c2c2;
}

.proj{
	width: 1150px;
	height: 800px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	-moz-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  	text-align: center;
  	background-image: url(../images/bg3.jpg);
  	background-position: center;
  	background-size: cover;
}

.prjcts{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.projects{
	width: 550px;
	height: 600px;
	margin-left:300px;
}

.html{
	width: 50px;
	height: 50px;
	border: solid 1px;
	float:left;
	margin-top: 10px;
	margin-left: 40px;
}

.php{
	width: 50px;
	height: 50px;
	border: solid 1px;
	float:left;
	margin-top: 10px;
	margin-left: 40px;
}

.sql{
	width: 50px;
	height: 50px;
	border: solid 1px;
	float:left;
	margin-top: 10px;
	margin-left: 40px;
}

.java{
	width: 50px;
	height: 50px;
	border: solid 1px;
	float:left;
	margin-top: 10px;
	margin-left: 40px;
}

.python{
	width: 50px;
	height: 50px;
	border: solid 1px;
	float:left;
	margin-top: 10px;
	margin-left: 40px;
}

.bar1{
	margin-top: 20px;
	width: 300px;
	height: 40px;
}

.bar2{
	margin-top: 20px;
	width: 300px;
	height: 40px;
}

.bar3{
	margin-top: 20px;
	width: 200px;
	height: 40px;
	margin-left: -100px;
}

.bar4{
	margin-top: 20px;
	width: 250px;
	height: 40px;
	margin-left: -50px;
}

.bar5{
	margin-top: 20px;
	width: 150px;
	height: 40px;
	margin-left: -150px;
}

.resto{
	width: 250px;
	height: 150px;
	border: solid 1px;
	float:left;
	margin-top: 50px;
	margin-left: 40px;
}

.last{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	width: 240px;
  float: right;
}

.success{
  width: 150px;
  height: 800px;
  border-radius: 10px;
  -webkit-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 10px 22px -6px rgba(0,0,0,0.75);
  text-align: center;
  background-image: url(../images/bg3.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}

.check{
    margin-top: 20px;
    width: 500px;
    height: 300px;
}



.rtbutton{
  position: fixed;
  z-index: 99;
  bottom: 30px;
  right: 30px;
}

.rtbutton a:link,
.rtbutton a:visited{
  color: #f4c2c2;
}


